<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garena新聞網</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>

<body>
    {% extends "navbar.html" %}

    {% block content %}
    <div class="wrapper">
        <div class="header-section">
            <h1 class="main-title">Garena新聞網</h1>
            <p class="intro-text">
                提供查詢有關Garena遊戲的各個新聞
            </p>
        </div>

        <div class="grid-container">
            <a href="{{ url_for('garena_aov_news') }}" class="feature-card">
                <h2 class="card-title">AOV</h2>
                <p class="card-desc">有關傳說對決的新聞</p>
            </a>

            <a href="{{ url_for('garena_delta_news') }}" class="feature-card">
                <h2 class="card-title">DELTA FORCE</h2>
                <p class="card-desc">有關三角洲行動的新聞</p>
            </a>

            <a href="{{ url_for('garena_codm_news') }}" class="feature-card">
                <h2 class="card-title">CALL OF DUTY</h2>
                <p class="card-desc">有關決勝時刻的新聞</p>
            </a>

             <a href="{{ url_for('garena_ff_news') }}" class="feature-card">
                <h2 class="card-title">FREE FIRE</h2>
                <p class="card-desc">有關我要活下去的新聞</p>
            </a>
        </div>

    </div>
{% endblock %}
</body>
</html>